
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = ">=0.4.1"
nuitka = "*"
jaconv = ">=0.2.4"
requests = ">=2.23.0"
"ruamel.yaml" = "*"
twitter = ">=1.18.0"

[dev-packages]

[requires]
python_version = "3.9"
