
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "nuitka --mingw64 --follow-imports --onefile EDCBNotifier.py"

[packages]
colorama = "*"
nuitka = "*"
jaconv = "*"
requests = "*"
"ruamel.yaml" = "*"
twitter = "*"
zstandard = "*"

[dev-packages]

[requires]
python_version = "3.9"
